"""discourse.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourse.api_helper import APIHelper
from discourse.apis.base_api import BaseApi
from discourse.configuration import Server
from discourse.http.http_method_enum import (
    HttpMethodEnum,
)
from discourse.models.admin_badges_json_response import (
    AdminBadgesJsonResponse,
)
from discourse.models.admin_badges_json_response_1 import (
    AdminBadgesJsonResponse1,
)
from discourse.models.admin_badges_json_response_2 import (
    AdminBadgesJsonResponse2,
)
from discourse.models.user_badges_json_response import (
    UserBadgesJsonResponse,
)


class BadgesApi(BaseApi):
    """A Controller to access Endpoints in the discourse API."""

    def __init__(self, config):
        """Initialize BadgesApi object."""
        super(BadgesApi, self).__init__(config)

    def admin_list_badges(self):
        """Perform a GET request to /admin/badges.json.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/badges.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdminBadgesJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_badge(self,
                     body=None):
        """Perform a POST request to /admin/badges.json.

        Args:
            body (AdminBadgesJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/badges.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdminBadgesJsonResponse1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_badge(self,
                     id,
                     body=None):
        """Perform a PUT request to /admin/badges/{id}.json.

        Args:
            id (int): The request template parameter.
            body (AdminBadgesJsonRequest1, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/badges/{id}.json")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdminBadgesJsonResponse2.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_badge(self,
                     id):
        """Perform a DELETE request to /admin/badges/{id}.json.

        Args:
            id (int): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/badges/{id}.json")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def list_user_badges(self,
                         username):
        """Perform a GET request to /user-badges/{username}.json.

        Args:
            username (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user-badges/{username}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("username")
                .value(username)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserBadgesJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
