"""discourse.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.configurations.endpoint_configuration import (
    EndpointConfiguration,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourse.api_helper import APIHelper
from discourse.apis.base_api import BaseApi
from discourse.configuration import Server
from discourse.http.http_method_enum import (
    HttpMethodEnum,
)
from discourse.models.discourse_post_event_events_json_response import (
    DiscoursePostEventEventsJsonResponse,
)


class DiscourseCalendarEventsApi(BaseApi):
    """A Controller to access Endpoints in the discourse API."""

    def __init__(self, config):
        """Initialize DiscourseCalendarEventsApi object."""
        super(DiscourseCalendarEventsApi, self).__init__(config)

    def list_events(self,
                    include_details=None,
                    category_id=None,
                    include_subcategories=None,
                    post_id=None,
                    attending_user=None,
                    before=None,
                    after=None,
                    order=None,
                    limit=None):
        """Perform a GET request to /discourse-post-event/events.json.

        Args:
            include_details (IncludeDetails, optional): Include detailed event
                information (creator, invitees, stats, etc.)
            category_id (int, optional): Filter events by category ID
            include_subcategories (IncludeSubcategories, optional): Include events
                from subcategories when filtering by category
            post_id (int, optional): Filter to events associated with a specific post
                ID
            attending_user (str, optional): Filter to events where the specified user
                (username) has RSVP'd as going
            before (datetime, optional): Return events starting before this date/time
                (ISO 8601 format)
            after (datetime, optional): Return events starting after this date/time
                (ISO 8601 format)
            order (Order, optional): Sort order for events by start date (default:
                asc)
            limit (int, optional): Maximum number of events to return (default: 200)

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response
                (detailed)

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/discourse-post-event/events.json")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("include_details")
                .value(include_details))
            .query_param(Parameter()
                .key("category_id")
                .value(category_id))
            .query_param(Parameter()
                .key("include_subcategories")
                .value(include_subcategories))
            .query_param(Parameter()
                .key("post_id")
                .value(post_id))
            .query_param(Parameter()
                .key("attending_user")
                .value(attending_user))
            .query_param(Parameter()
                .key("before")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    before)))
            .query_param(Parameter()
                .key("after")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    after)))
            .query_param(Parameter()
                .key("order")
                .value(order))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DiscoursePostEventEventsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def export_events_ics(self,
                          category_id=None,
                          include_subcategories=None,
                          attending_user=None,
                          before=None,
                          after=None,
                          order=None,
                          limit=None):
        """Perform a GET request to /discourse-post-event/events.ics.

        Args:
            category_id (int, optional): Filter events by category ID
            include_subcategories (IncludeSubcategories, optional): Include events
                from subcategories when filtering by category
            attending_user (str, optional): Filter to events where the specified user
                (username) has RSVP'd as going
            before (datetime, optional): Return events starting before this date/time
                (ISO 8601 format)
            after (datetime, optional): Return events starting after this date/time
                (ISO 8601 format)
            order (Order, optional): Sort order for events by start date (default:
                asc)
            limit (int, optional): Maximum number of events to return (default: 200)

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. iCalendar file

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/discourse-post-event/events.ics")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("category_id")
                .value(category_id))
            .query_param(Parameter()
                .key("include_subcategories")
                .value(include_subcategories))
            .query_param(Parameter()
                .key("attending_user")
                .value(attending_user))
            .query_param(Parameter()
                .key("before")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    before)))
            .query_param(Parameter()
                .key("after")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    after)))
            .query_param(Parameter()
                .key("order")
                .value(order))
            .query_param(Parameter()
                .key("limit")
                .value(limit)),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).endpoint_configuration(
            EndpointConfiguration()
            .has_binary_response(True),
        ).execute()
