"""discourse.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourse.api_helper import APIHelper
from discourse.apis.base_api import BaseApi
from discourse.configuration import Server
from discourse.http.http_method_enum import (
    HttpMethodEnum,
)
from discourse.models.admin_groups_json_response import (
    AdminGroupsJsonResponse,
)
from discourse.models.admin_groups_json_response_1 import (
    AdminGroupsJsonResponse1,
)
from discourse.models.groups_by_id_json_response import (
    GroupsByIdJsonResponse,
)
from discourse.models.groups_json_response import (
    GroupsJsonResponse,
)
from discourse.models.groups_json_response_1 import (
    GroupsJsonResponse1,
)
from discourse.models.groups_json_response_2 import (
    GroupsJsonResponse2,
)
from discourse.models.groups_members_json_response import (
    GroupsMembersJsonResponse,
)
from discourse.models.groups_members_json_response_1 import (
    GroupsMembersJsonResponse1,
)
from discourse.models.groups_members_json_response_2 import (
    GroupsMembersJsonResponse2,
)


class GroupsApi(BaseApi):
    """A Controller to access Endpoints in the discourse API."""

    def __init__(self, config):
        """Initialize GroupsApi object."""
        super(GroupsApi, self).__init__(config)

    def create_group(self,
                     body=None):
        """Perform a POST request to /admin/groups.json.

        Args:
            body (AdminGroupsJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. group created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/groups.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdminGroupsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_group(self,
                     id):
        """Perform a DELETE request to /admin/groups/{id}.json.

        Args:
            id (int): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/groups/{id}.json")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdminGroupsJsonResponse1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_group(self,
                  name):
        """Perform a GET request to /groups/{name}.json.

        Args:
            name (str): Use group name instead of id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/groups/{name}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("name")
                .value(name)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GroupsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_group(self,
                     id,
                     body=None):
        """Perform a PUT request to /groups/{id}.json.

        Args:
            id (int): The request template parameter.
            body (GroupsJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/groups/{id}.json")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GroupsJsonResponse1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_group_by_id(self,
                        id):
        """Perform a GET request to /groups/by-id/{id}.json.

        Args:
            id (str): Use group name instead of id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response (by id)

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/groups/by-id/{id}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GroupsByIdJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_group_members(self,
                           name):
        """Perform a GET request to /groups/{name}/members.json.

        Args:
            name (str): Use group name instead of id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/groups/{name}/members.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("name")
                .value(name)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GroupsMembersJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def add_group_members(self,
                          id,
                          body=None):
        """Perform a PUT request to /groups/{id}/members.json.

        Args:
            id (int): The request template parameter.
            body (GroupsMembersJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/groups/{id}/members.json")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GroupsMembersJsonResponse1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def remove_group_members(self,
                             id,
                             body=None):
        """Perform a DELETE request to /groups/{id}/members.json.

        Args:
            id (int): The request template parameter.
            body (GroupsMembersJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/groups/{id}/members.json")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GroupsMembersJsonResponse2.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_groups(self):
        """Perform a GET request to /groups.json.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/groups.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GroupsJsonResponse2.from_dictionary)
            .is_api_response(True),
        ).execute()
