"""discourse.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourse.api_helper import APIHelper
from discourse.apis.base_api import BaseApi
from discourse.configuration import Server
from discourse.http.http_method_enum import (
    HttpMethodEnum,
)
from discourse.models.notifications_json_response import (
    NotificationsJsonResponse,
)
from discourse.models.notifications_mark_read_json_response import (
    NotificationsMarkReadJsonResponse,
)


class NotificationsApi(BaseApi):
    """A Controller to access Endpoints in the discourse API."""

    def __init__(self, config):
        """Initialize NotificationsApi object."""
        super(NotificationsApi, self).__init__(config)

    def get_notifications(self):
        """Perform a GET request to /notifications.json.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. notifications

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/notifications.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(NotificationsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def mark_notifications_as_read(self,
                                   body=None):
        """Perform a PUT request to /notifications/mark-read.json.

        Args:
            body (NotificationsMarkReadJsonRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. notifications marked
                read

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/notifications/mark-read.json")
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(NotificationsMarkReadJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
