"""discourse.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourse.api_helper import APIHelper
from discourse.apis.base_api import BaseApi
from discourse.configuration import Server
from discourse.http.http_method_enum import (
    HttpMethodEnum,
)
from discourse.models.post_actions_json_response import (
    PostActionsJsonResponse,
)
from discourse.models.posts_json_response import (
    PostsJsonResponse,
)
from discourse.models.posts_json_response_1 import (
    PostsJsonResponse1,
)
from discourse.models.posts_json_response_2 import (
    PostsJsonResponse2,
)
from discourse.models.posts_json_response_3 import (
    PostsJsonResponse3,
)
from discourse.models.posts_locked_json_response import (
    PostsLockedJsonResponse,
)
from discourse.models.posts_replies_json_response import (
    PostsRepliesJsonResponse,
)


class PostsApi(BaseApi):
    """A Controller to access Endpoints in the discourse API."""

    def __init__(self, config):
        """Initialize PostsApi object."""
        super(PostsApi, self).__init__(config)

    def list_posts(self,
                   before=None):
        """Perform a GET request to /posts.json.

        Args:
            before (int, optional): Load posts with an id lower than this value.
                Useful for pagination.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. latest posts

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/posts.json")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("before")
                .value(before))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PostsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_topic_post_pm(self,
                             api_key,
                             api_username,
                             body=None):
        """Perform a POST request to /posts.json.

        Args:
            api_key (str): The request header parameter.
            api_username (str): The request header parameter.
            body (PostsJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. post created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/posts.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Api-Key")
                .value(api_key)
                .is_required(True))
            .header_param(Parameter()
                .key("Api-Username")
                .value(api_username)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PostsJsonResponse1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_post(self,
                 id):
        """Perform a GET request to /posts/{id}.json.

        This endpoint can be used to get the number of likes on a post using the
        `actions_summary` property in the response. `actions_summary` responses
        with the id of `2` signify a `like`. If there are no `actions_summary`
        items with the id of `2`, that means there are 0 likes. Other ids likely
        refer to various different flag types.

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. single reviewable post

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/posts/{id}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PostsJsonResponse2.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_post(self,
                    api_key,
                    api_username,
                    id,
                    body=None):
        """Perform a PUT request to /posts/{id}.json.

        Args:
            api_key (str): The request header parameter.
            api_username (str): The request header parameter.
            id (str): The request template parameter.
            body (PostsJsonRequest1, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. post updated

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/posts/{id}.json")
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                .key("Api-Key")
                .value(api_key)
                .is_required(True))
            .header_param(Parameter()
                .key("Api-Username")
                .value(api_username)
                .is_required(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PostsJsonResponse3.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_post(self,
                    api_key,
                    api_username,
                    id,
                    body=None):
        """Perform a DELETE request to /posts/{id}.json.

        Args:
            api_key (str): The request header parameter.
            api_username (str): The request header parameter.
            id (int): The request template parameter.
            body (PostsJsonRequest2, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/posts/{id}.json")
            .http_method(HttpMethodEnum.DELETE)
            .header_param(Parameter()
                .key("Api-Key")
                .value(api_key)
                .is_required(True))
            .header_param(Parameter()
                .key("Api-Username")
                .value(api_username)
                .is_required(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def post_replies(self,
                     id):
        """Perform a GET request to /posts/{id}/replies.json.

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. post replies

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/posts/{id}/replies.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PostsRepliesJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def lock_post(self,
                  api_key,
                  api_username,
                  id,
                  body=None):
        """Perform a PUT request to /posts/{id}/locked.json.

        Args:
            api_key (str): The request header parameter.
            api_username (str): The request header parameter.
            id (str): The request template parameter.
            body (PostsLockedJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. post updated

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/posts/{id}/locked.json")
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                .key("Api-Key")
                .value(api_key)
                .is_required(True))
            .header_param(Parameter()
                .key("Api-Username")
                .value(api_username)
                .is_required(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PostsLockedJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def perform_post_action(self,
                            api_key,
                            api_username,
                            body=None):
        """Perform a POST request to /post_actions.json.

        Args:
            api_key (str): The request header parameter.
            api_username (str): The request header parameter.
            body (PostActionsJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. post updated

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/post_actions.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Api-Key")
                .value(api_key)
                .is_required(True))
            .header_param(Parameter()
                .key("Api-Username")
                .value(api_username)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PostActionsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
