"""discourseapidocumentation.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourseapidocumentation.api_helper import (
    APIHelper,
)
from discourseapidocumentation.apis.base_api import (
    BaseApi,
)
from discourseapidocumentation.configuration import (
    Server,
)
from discourseapidocumentation.http.http_method_enum import (
    HttpMethodEnum,
)
from discourseapidocumentation.models.admin_backups_json_response import (
    AdminBackupsJsonResponse,
)
from discourseapidocumentation.models.admin_backups_json_response_1 import (
    AdminBackupsJsonResponse1,
)


class BackupsApi(BaseApi):
    """A Controller to access Endpoints in the discourseapidocumentation API."""

    def __init__(self, config):
        """Initialize BackupsApi object."""
        super(BackupsApi, self).__init__(config)

    def get_backups(self):
        """Perform a GET request to /admin/backups.json.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/backups.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdminBackupsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_backup(self,
                      body=None):
        """Perform a POST request to /admin/backups.json.

        Args:
            body (AdminBackupsJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/backups.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdminBackupsJsonResponse1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def send_download_backup_email(self,
                                   filename):
        """Perform a PUT request to /admin/backups/{filename}.

        Args:
            filename (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/backups/{filename}")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("filename")
                .value(filename)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def download_backup(self,
                        filename,
                        token):
        """Perform a GET request to /admin/backups/{filename}.

        Args:
            filename (str): The request template parameter.
            token (str): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/admin/backups/{filename}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("filename")
                .value(filename)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("token")
                .value(token)
                .is_required(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
