"""discourseapidocumentation.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourseapidocumentation.api_helper import (
    APIHelper,
)
from discourseapidocumentation.apis.base_api import (
    BaseApi,
)
from discourseapidocumentation.configuration import (
    Server,
)
from discourseapidocumentation.http.http_method_enum import (
    HttpMethodEnum,
)
from discourseapidocumentation.models.invites_create_multiple_json_response import (
    InvitesCreateMultipleJsonResponse,
)
from discourseapidocumentation.models.invites_json_response import (
    InvitesJsonResponse,
)


class InvitesApi(BaseApi):
    """A Controller to access Endpoints in the discourseapidocumentation API."""

    def __init__(self, config):
        """Initialize InvitesApi object."""
        super(InvitesApi, self).__init__(config)

    def create_invite(self,
                      api_key,
                      api_username,
                      body=None):
        """Perform a POST request to /invites.json.

        Args:
            api_key (str): The request header parameter.
            api_username (str): The request header parameter.
            body (InvitesJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/invites.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Api-Key")
                .value(api_key)
                .is_required(True))
            .header_param(Parameter()
                .key("Api-Username")
                .value(api_username)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvitesJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_multiple_invites(self,
                                api_key,
                                api_username,
                                body=None):
        """Perform a POST request to /invites/create-multiple.json.

        Args:
            api_key (str): The request header parameter.
            api_username (str): The request header parameter.
            body (InvitesCreateMultipleJsonRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/invites/create-multiple.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Api-Key")
                .value(api_key)
                .is_required(True))
            .header_param(Parameter()
                .key("Api-Username")
                .value(api_username)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvitesCreateMultipleJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
