"""discourseapidocumentation.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourseapidocumentation.api_helper import (
    APIHelper,
)
from discourseapidocumentation.apis.base_api import (
    BaseApi,
)
from discourseapidocumentation.configuration import (
    Server,
)
from discourseapidocumentation.http.http_method_enum import (
    HttpMethodEnum,
)
from discourseapidocumentation.models.topics_private_messages_json_response import (
    TopicsPrivateMessagesJsonResponse,
)
from discourseapidocumentation.models.topics_private_messages_sent_json_response import (  # noqa: E501
    TopicsPrivateMessagesSentJsonResponse,
)


class PrivateMessagesApi(BaseApi):
    """A Controller to access Endpoints in the discourseapidocumentation API."""

    def __init__(self, config):
        """Initialize PrivateMessagesApi object."""
        super(PrivateMessagesApi, self).__init__(config)

    def list_user_private_messages(self,
                                   username):
        """Perform a GET request to /topics/private-messages/{username}.json.

        Args:
            username (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. private messages

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/topics/private-messages/{username}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("username")
                .value(username)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TopicsPrivateMessagesJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_user_sent_private_messages(self,
                                       username):
        """Perform a GET request to
        /topics/private-messages-sent/{username}.json.

        Args:
            username (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. private messages

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/topics/private-messages-sent/{username}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("username")
                .value(username)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TopicsPrivateMessagesSentJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
