"""discourseapidocumentation.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourseapidocumentation.api_helper import (
    APIHelper,
)
from discourseapidocumentation.apis.base_api import (
    BaseApi,
)
from discourseapidocumentation.configuration import (
    Server,
)
from discourseapidocumentation.http.http_method_enum import (
    HttpMethodEnum,
)
from discourseapidocumentation.models.site_basic_info_json_response import (
    SiteBasicInfoJsonResponse,
)
from discourseapidocumentation.models.site_json_response import (
    SiteJsonResponse,
)


class SiteApi(BaseApi):
    """A Controller to access Endpoints in the discourseapidocumentation API."""

    def __init__(self, config):
        """Initialize SiteApi object."""
        super(SiteApi, self).__init__(config)

    def get_site(self):
        """Perform a GET request to /site.json.

        Can be used to fetch all categories and subcategories

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/site.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SiteJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_site_basic_info(self):
        """Perform a GET request to /site/basic-info.json.

        Can be used to fetch basic info about a site

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. success response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/site/basic-info.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SiteBasicInfoJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
