"""discourseapidocumentation.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourseapidocumentation.api_helper import (
    APIHelper,
)
from discourseapidocumentation.apis.base_api import (
    BaseApi,
)
from discourseapidocumentation.configuration import (
    Server,
)
from discourseapidocumentation.http.http_method_enum import (
    HttpMethodEnum,
)
from discourseapidocumentation.models.tag_groups_json_response import (
    TagGroupsJsonResponse,
)
from discourseapidocumentation.models.tag_groups_json_response_1 import (
    TagGroupsJsonResponse1,
)
from discourseapidocumentation.models.tag_groups_json_response_2 import (
    TagGroupsJsonResponse2,
)
from discourseapidocumentation.models.tag_groups_json_response_3 import (
    TagGroupsJsonResponse3,
)
from discourseapidocumentation.models.tag_json_response import (
    TagJsonResponse,
)
from discourseapidocumentation.models.tags_json_response import (
    TagsJsonResponse,
)


class TagsApi(BaseApi):
    """A Controller to access Endpoints in the discourseapidocumentation API."""

    def __init__(self, config):
        """Initialize TagsApi object."""
        super(TagsApi, self).__init__(config)

    def list_tag_groups(self):
        """Perform a GET request to /tag_groups.json.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. tags

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/tag_groups.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TagGroupsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_tag_group(self,
                         body=None):
        """Perform a POST request to /tag_groups.json.

        Args:
            body (TagGroupsJsonRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. tag group created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/tag_groups.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TagGroupsJsonResponse1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_tag_group(self,
                      id):
        """Perform a GET request to /tag_groups/{id}.json.

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. notifications

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/tag_groups/{id}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TagGroupsJsonResponse2.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_tag_group(self,
                         id,
                         body=None):
        """Perform a PUT request to /tag_groups/{id}.json.

        Args:
            id (str): The request template parameter.
            body (TagGroupsJsonRequest1, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Tag group updated

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/tag_groups/{id}.json")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TagGroupsJsonResponse3.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_tags(self):
        """Perform a GET request to /tags.json.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. notifications

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/tags.json")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TagsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_tag(self,
                name):
        """Perform a GET request to /tag/{name}.json.

        Args:
            name (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. notifications

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/tag/{name}.json")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("name")
                .value(name)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TagJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
