"""discourseapidocumentation.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from discourseapidocumentation.api_helper import (
    APIHelper,
)
from discourseapidocumentation.apis.base_api import (
    BaseApi,
)
from discourseapidocumentation.configuration import (
    Server,
)
from discourseapidocumentation.http.http_method_enum import (
    HttpMethodEnum,
)
from discourseapidocumentation.models.uploads_abort_multipart_json_response import (
    UploadsAbortMultipartJsonResponse,
)
from discourseapidocumentation.models.uploads_batch_presign_multipart_parts_json_response import (  # noqa: E501
    UploadsBatchPresignMultipartPartsJsonResponse,
)
from discourseapidocumentation.models.uploads_complete_external_upload_json_response import (  # noqa: E501
    UploadsCompleteExternalUploadJsonResponse,
)
from discourseapidocumentation.models.uploads_complete_multipart_json_response import (
    UploadsCompleteMultipartJsonResponse,
)
from discourseapidocumentation.models.uploads_create_multipart_json_response import (
    UploadsCreateMultipartJsonResponse,
)
from discourseapidocumentation.models.uploads_generate_presigned_put_json_response import (  # noqa: E501
    UploadsGeneratePresignedPutJsonResponse,
)
from discourseapidocumentation.models.uploads_json_response import (
    UploadsJsonResponse,
)


class UploadsApi(BaseApi):
    """A Controller to access Endpoints in the discourseapidocumentation API."""

    def __init__(self, config):
        """Initialize UploadsApi object."""
        super(UploadsApi, self).__init__(config)

    def create_upload(self,
                      upload_type,
                      user_id=None,
                      synchronous=None,
                      file=None):
        """Perform a POST request to /uploads.json.

        Args:
            upload_type (UploadType): The request form parameter.
            user_id (int, optional): required if uploading an avatar
            synchronous (bool, optional): Use this flag to return an id and url
            file (typing.BinaryIO, optional): The request form parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. file uploaded

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/uploads.json")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("upload_type")
                .value(upload_type)
                .is_required(True))
            .form_param(Parameter()
                .key("user_id")
                .value(user_id))
            .form_param(Parameter()
                .key("synchronous")
                .value(synchronous))
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UploadsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def generate_presigned_put(self,
                               body=None):
        """Perform a POST request to /uploads/generate-presigned-put.json.

        Direct external uploads bypass the usual method of creating uploads
        via the POST /uploads route, and upload directly to an external provider,
        which by default is S3. This route begins the process, and will return
        a unique identifier for the external upload as well as a presigned URL
        which is where the file binary blob should be uploaded to.
        Once the upload is complete to the external service, you must call the
        POST /complete-external-upload route using the unique identifier returned
        by this route, which will create any required Upload record in the Discourse
        database and also move file from its temporary location to the final
        destination in the external storage service.
        You must have the correct permissions and CORS settings configured in your
        external provider. We support AWS S3 as the default. See:
        https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
        An external file store must be set up and `enable_direct_s3_uploads` must
        be set to true for this endpoint to function.

        Args:
            body (UploadsGeneratePresignedPutJsonRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. external upload
                initialized

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/uploads/generate-presigned-put.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UploadsGeneratePresignedPutJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def complete_external_upload(self,
                                 body=None):
        """Perform a POST request to /uploads/complete-external-upload.json.

        Completes an external upload initialized with /get-presigned-put. The
        file will be moved from its temporary location in external storage to
        a final destination in the S3 bucket. An Upload record will also be
        created in the database in most cases.
        If a sha1-checksum was provided in the initial request it will also
        be compared with the uploaded file in storage to make sure the same
        file was uploaded. The file size will be compared for the same reason.
        You must have the correct permissions and CORS settings configured in your
        external provider. We support AWS S3 as the default. See:
        https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
        An external file store must be set up and `enable_direct_s3_uploads` must
        be set to true for this endpoint to function.

        Args:
            body (UploadsCompleteExternalUploadJsonRequest, optional): The request
                body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. external upload
                initialized

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/uploads/complete-external-upload.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UploadsCompleteExternalUploadJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_multipart_upload(self,
                                body=None):
        """Perform a POST request to /uploads/create-multipart.json.

        Creates a multipart upload in the external storage provider, storing
        a temporary reference to the external upload similar to /get-presigned-put.
        You must have the correct permissions and CORS settings configured in your
        external provider. We support AWS S3 as the default. See:
        https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
        An external file store must be set up and `enable_direct_s3_uploads` must
        be set to true for this endpoint to function.

        Args:
            body (UploadsCreateMultipartJsonRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. external upload
                initialized

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/uploads/create-multipart.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UploadsCreateMultipartJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def batch_presign_multipart_parts(self,
                                      body=None):
        """Perform a POST request to
        /uploads/batch-presign-multipart-parts.json.

        Multipart uploads are uploaded in chunks or parts to individual presigned
        URLs, similar to the one generated by /generate-presigned-put. The part
        numbers provided must be between 1 and 10000. The total number of parts
        will depend on the chunk size in bytes that you intend to use to upload
        each chunk. For example a 12MB file may have 2 5MB chunks and a final
        2MB chunk, for part numbers 1, 2, and 3.
        This endpoint will return a presigned URL for each part number provided,
        which you can then use to send PUT requests for the binary chunk corresponding
        to that part. When the part is uploaded, the provider should return an
        ETag for the part, and this should be stored along with the part number,
        because this is needed to complete the multipart upload.
        You must have the correct permissions and CORS settings configured in your
        external provider. We support AWS S3 as the default. See:
        https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
        An external file store must be set up and `enable_direct_s3_uploads` must
        be set to true for this endpoint to function.

        Args:
            body (UploadsBatchPresignMultipartPartsJsonRequest, optional): The
                request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. external upload
                initialized

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/uploads/batch-presign-multipart-parts.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UploadsBatchPresignMultipartPartsJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def abort_multipart(self,
                        body=None):
        """Perform a POST request to /uploads/abort-multipart.json.

        This endpoint aborts the multipart upload initiated with /create-multipart.
        This should be used when cancelling the upload. It does not matter if parts
        were already uploaded into the external storage provider.
        You must have the correct permissions and CORS settings configured in your
        external provider. We support AWS S3 as the default. See:
        https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
        An external file store must be set up and `enable_direct_s3_uploads` must
        be set to true for this endpoint to function.

        Args:
            body (UploadsAbortMultipartJsonRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. external upload
                initialized

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/uploads/abort-multipart.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UploadsAbortMultipartJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def complete_multipart(self,
                           body=None):
        """Perform a POST request to /uploads/complete-multipart.json.

        Completes the multipart upload in the external store, and copies the
        file from its temporary location to its final location in the store.
        All of the parts must have been uploaded to the external storage provider.
        An Upload record will be completed in most cases once the file is copied
        to its final location.
        You must have the correct permissions and CORS settings configured in your
        external provider. We support AWS S3 as the default. See:
        https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
        An external file store must be set up and `enable_direct_s3_uploads` must
        be set to true for this endpoint to function.

        Args:
            body (UploadsCompleteMultipartJsonRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. external upload
                initialized

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/uploads/complete-multipart.json")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UploadsCompleteMultipartJsonResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
